In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("C&T train dataset.csv")

In [4]:
df.head()

,sno,acc_info,duration_month,credit_history,purpose,savings_acc,employment_st,poi,personal_status,gurantors,...,property_type,age,installment_type,housing_type,credits_no,job_type,liables,telephone,foreigner,Group_no
0,1,A11,6,A34,A43,A65,A75,4.0,A93,A101,...,A121,67.0,A143,A152,2,A173,1,A192,A201,3
1,2,A12,48,A32,A43,A61,A73,2.0,A92,A101,...,A121,22.0,A143,A152,1,A173,1,A191,A201,1
2,3,A14,12,A34,A46,A61,A74,2.0,A93,A101,...,A121,49.0,A143,A152,1,A172,2,A191,A201,2
3,4,A11,42,A32,A42,A61,A74,2.0,A93,A103,...,A122,45.0,A143,A153,1,A173,2,A191,A201,1
4,5,A11,24,A33,A40,A61,A73,3.0,A93,A101,...,A124,53.0,A143,A153,2,A173,2,A191,A201,1

In [5]:
df['Group_no'].value_counts()

Group_no
2    353
3    254
1    193
Name: count, dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   sno               800 non-null    int64
 1   acc_info          800 non-null    object
 2   duration_month    800 non-null    int64
 3   credit_history    800 non-null    object
 4   purpose           800 non-null    object
 5   savings_acc       800 non-null    object
 6   employment_st     792 non-null    object
 7   poi               788 non-null    float64
 8   personal_status   800 non-null    object
 9   gurantors         792 non-null    object
 10  resident_since    800 non-null    int64
 11  property_type     800 non-null    object
 12  age               796 non-null    float64
 13  installment_type  800 non-null    object
 14  housing_type      793 non-null    object
 15  credits_no        800 non-null    int64
 16  job_type          800 non-null    object
 17  liables           800 non-null    int64
 18  telephone         800 non-null    object
 19  foreigner         800 non-null    object
 20  Group_no          800 non-null    int64
dtypes: float64(2), int64(6), object(13)
memory usage: 131.4+ KB

In [6]:
df.isnull().sum()

sno                  0
acc_info             0
duration_month       0
credit_history       0
purpose              0
savings_acc          0
employment_st        8
poi                 12
personal_status      0
gurantors            8
resident_since       0
property_type        0
age                  4
installment_type     0
housing_type         7
credits_no           0
job_type             0
liables              0
telephone            0
foreigner            0
Group_no             0
dtype: int64

In [7]:
null_cols = df.columns[df.isnull().any()]

null_cols

Index(['employment_st', 'poi', 'gurantors', 'age', 'housing_type'], dtype='object')

In [8]:
for col in null_cols:
  # Get data type for each column and print it
  data_type = df.dtypes[col]
  print(f"Column '{col}': {data_type}")

Column 'employment_st': object
Column 'poi': float64
Column 'gurantors': object
Column 'age': float64
Column 'housing_type': object

In [9]:
for col in null_cols:
  # Get data type for each column and print it
    print(df[col].value_counts())

employment_st
A73    267
A75    203
A74    141
A72    133
A71     48
Name: count, dtype: int64
poi
4.0    371
2.0    184
3.0    120
1.0    113
Name: count, dtype: int64
gurantors
A101    720
A103     42
A102     30
Name: count, dtype: int64
age
27.0    45
26.0    41
23.0    40
25.0    35
36.0    33
24.0    33
31.0    32
28.0    31
32.0    30
30.0    29
35.0    29
34.0    27
29.0    27
37.0    25
33.0    24
22.0    23
39.0    19
38.0    19
40.0    17
41.0    16
44.0    15
42.0    14
20.0    12
21.0    12
45.0    12
49.0    12
47.0    12
50.0    10
46.0    10
43.0     9
52.0     9
51.0     8
48.0     8
63.0     7
61.0     7
57.0     6
54.0     6
60.0     6
53.0     6
55.0     6
66.0     5
74.0     4
58.0     4
64.0     3
67.0     3
65.0     3
56.0     3
75.0     2
19.0     2
59.0     2
68.0     1
70.0     1
62.0     1
Name: count, dtype: int64
housing_type
A152    563
A151    140
A153     90
Name: count, dtype: int64

In [4]:
round(df['age'].mean())

35

In [11]:
df['age'] = df['age'].fillna(36)

In [12]:
null_cols = ['employment_st', 'poi', 'gurantors', 'housing_type']

In [13]:
for col in null_cols:
    mode_value = df[col].mode().iloc[0]

    # Replace null values with the mode value
    df[col] = df[col].fillna(mode_value)

In [14]:
df.isnull().sum()

sno                 0
acc_info            0
duration_month      0
credit_history      0
purpose             0
savings_acc         0
employment_st       0
poi                 0
personal_status     0
gurantors           0
resident_since      0
property_type       0
age                 0
installment_type    0
housing_type        0
credits_no          0
job_type            0
liables             0
telephone           0
foreigner           0
Group_no            0
dtype: int64

In [15]:
object_cols = df.select_dtypes(include='object').columns

object_cols

Index(['acc_info', 'credit_history', 'purpose', 'savings_acc', 'employment_st',
       'personal_status', 'gurantors', 'property_type', 'installment_type',
       'housing_type', 'job_type', 'telephone', 'foreigner'],
      dtype='object')

In [16]:
def split_and_convert(df, object_cols):
  # Select the column to process
  for column_name in object_cols:
      df[column_name] = df[column_name].str[1:].astype(int)

  return df

df = split_and_convert(df.copy(), object_cols)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   sno               800 non-null    int64
 1   acc_info          800 non-null    int32
 2   duration_month    800 non-null    int64
 3   credit_history    800 non-null    int32
 4   purpose           800 non-null    int32
 5   savings_acc       800 non-null    int32
 6   employment_st     800 non-null    int32
 7   poi               800 non-null    float64
 8   personal_status   800 non-null    int32
 9   gurantors         800 non-null    int32
 10  resident_since    800 non-null    int64
 11  property_type     800 non-null    int32
 12  age               800 non-null    float64
 13  installment_type  800 non-null    int32
 14  housing_type      800 non-null    int32
 15  credits_no        800 non-null    int64
 16  job_type          800 non-null    int32
 17  liables           800 non-null    int64
 18  telephone         800 non-null    int32
 19  foreigner         800 non-null    int32
 20  Group_no          800 non-null    int64
dtypes: float64(2), int32(13), int64(6)
memory usage: 90.8 KB

In [18]:
df.shape

(800, 21)

In [19]:
df = df.drop("sno", axis=1)

In [20]:
df.shape

(800, 20)

In [21]:
df["Group_no"].value_counts()

Group_no
2    353
3    254
1    193
Name: count, dtype: int64

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.drop("Group_no", axis=1), df["Group_no"], test_size=0.2)

In [23]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(multi_class="multinomial", solver="lbfgs")
model.fit(X_train, y_train)

LogisticRegression(multi_class='multinomial')

In [24]:
from sklearn.metrics import accuracy_score
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.60625

In [25]:
from sklearn.neighbors import KNeighborsClassifier

# Create a KNN classifier with k=5 neighbors
knn = KNeighborsClassifier(n_neighbors=7)

# Train the model on your training data (X_train, y_train)
knn.fit(X_train, y_train)

# Make predictions on the testing set (X_test)
y_pred = knn.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.5375

In [26]:
from sklearn.svm import SVC

# Create an SVC classifier with a linear kernel
svm = SVC(kernel='linear')

# Train the model on your training data (X_train, y_train)
svm.fit(X_train, y_train)

# Make predictions on the testing set (X_test)
y_pred = svm.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.66875

In [27]:
from sklearn.tree import DecisionTreeClassifier

# Create a DecisionTreeClassifier with maximum depth of 3
dtree = DecisionTreeClassifier(max_depth=3)

# Train the model on your training data (X_train, y_train)
dtree.fit(X_train, y_train)

# Make predictions on the testing set (X_test)
y_pred = dtree.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.5625

In [28]:
from sklearn.ensemble import RandomForestClassifier

# Create a RandomForestClassifier with 100 trees
rf = RandomForestClassifier(n_estimators=100)

# Train the model on your training data (X_train, y_train)
rf.fit(X_train, y_train)

# Make predictions on the testing set (X_test)
y_pred = rf.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.66875

In [29]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier

# ... (your data preparation and split into X_train, X_test, y_train, y_test)

# Define the hyperparameter grid for KNN
param_grid = {
    'n_neighbors': [3, 5, 7],
    'metric': ['euclidean', 'manhattan', 'minkowski']
}

# Create and fit the GridSearchCV object
grid_search = GridSearchCV(estimator=KNeighborsClassifier(), param_grid=param_grid, scoring=accuracy_score)
grid_search.fit(X_train, y_train)

# Access results
best_model = grid_search.best_estimator_
best_params = grid_search.best_params_
cv_results = grid_search.cv_results_

# Use the best model for prediction on the testing set
y_pred = best_model.predict(X_test)

# Evaluate performance using the chosen metric (e.g., accuracy_score)

accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.5125

In [30]:
test = pd.read_csv("C&T test dataset.csv")

In [31]:
test.isnull().sum()

sno                 0
acc_info            0
duration_month      0
credit_history      0
purpose             0
savings_acc         0
employment_st       5
poi                 5
personal_status     0
gurantors           0
resident_since      0
property_type       0
age                 2
installment_type    0
housing_type        8
credits_no          0
job_type            0
liables             0
telephone           0
foreigner           0
dtype: int64